.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 1000;
}
.navbar ul {
  list-style: none;
  display: flex;
}
.navbar ul li {
  margin-left: 10px;
}
.navbar ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s;
}
.navbar ul li a:hover {
  background-color: #858585;
}

.navbar-brand {
  color: #333;
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3E%3Cpath stroke="%23ffffff" stroke-width="2" d="M5 7h20M5 15h20M5 23h20" /%3E%3C/svg%3E');
}

.c-carousel {
  position: relative;
  max-width: 100%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}
.c-carousel .c-carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.c-carousel .c-carousel-inner .c-carousel-item {
  min-width: 100%;
}
.c-carousel .c-carousel-inner .c-carousel-item img {
  width: 100%;
  vertical-align: middle;
  border-radius: 10px;
}
.c-carousel .prev, .c-carousel .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}
.c-carousel .prev.prev, .c-carousel .next.prev {
  left: 10px;
}
.c-carousel .prev.next, .c-carousel .next.next {
  right: 10px;
}
@media (max-width: 768px) {
  .c-carousel .prev, .c-carousel .next {
    padding: 5px;
  }
}
@media (max-width: 480px) {
  .c-carousel .prev, .c-carousel .next {
    padding: 3px;
  }
}

.footer {
  background-color: #343a40;
  color: #f8f9fa;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.tarjeta {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 1fr;
  height: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.tarjeta-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-row: span 2;
}

.tarjeta-content {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.tarjeta-content h5 {
  margin: 0;
  font-size: 1.25rem;
}

.tarjeta-content p {
  margin: 16px 0;
  flex-grow: 1;
}

.tarjeta-content .btn {
  align-self: stretch;
  background-color: transparent;
  border: 2px solid #007bff;
  color: #007bff;
  padding: 8px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.tarjeta-content .btn:hover {
  background-color: #007bff;
  color: white;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  align-items: center;
  height: 100vh;
}

main {
  flex: 1;
}

.header-container {
  display: flex;
  justify-content: center;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.contenedor_carrito, .contenedor_novedades, .container-compras {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  align-content: center;
  height: 100%;
}

main {
  margin-top: 60px;
}

.tarjetas {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
}
.tarjetas .card {
  max-width: 100%;
}

.mapa-container {
  margin-top: 5px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

.container_comunidad {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.container_comunidad .columna_comunidad {
  flex: 1;
  padding: 10px;
}

.login {
  margin-top: 10px;
}

.img-login {
  height: 500px;
  object-fit: contain;
}

.news-title, .index-title {
  display: flex;
  font-weight: bold;
  text-align: left;
  margin-top: 10px;
  margin-left: 20px;
}

.news-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}
.news-container .news-item {
  flex: 1 1 calc(33.333% - 40px);
  box-sizing: border-box;
  max-width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s ease;
}
.news-container .news-item img {
  width: 100%;
  height: auto;
  display: block;
}
.news-container .news-item h2 {
  margin: 15px;
  font-size: 20px;
}
.news-container .news-item p {
  margin: 15px;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
}
.news-container .news-item:hover {
  transform: translateY(-5px);
}

.rating {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.rating input {
  display: none;
}
.rating label {
  font-size: 30px;
  color: #ddd;
  cursor: pointer;
}
.rating label:checked ~ label, .rating label:checked ~ label ~ label {
  color: #ffcc00;
}
.rating label:hover, .rating label:hover ~ label {
  color: #ffcc00;
}

@media (max-width: 1200px) {
  .news-item {
    flex: 1 1 calc(50% - 40px);
  }
}
@media (max-width: 768px) {
  .news-item {
    flex: 1 1 calc(100% - 40px);
  }
  .news-item h2 {
    font-size: 18px;
  }
  .news-item p {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .news-item h2 {
    font-size: 16px;
  }
  .news-item p {
    font-size: 13px;
  }
}

/*# sourceMappingURL=styles.css.map */
