*  {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    align-items: center;
    height: 100vh;
}

main {
    flex: 1;
}

.header-container {
    display: flex;
    justify-content: center;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
}


.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
}

.navbar ul li a:hover {
    background-color: #858585;
}

.navbar-brand {
    color: #000; /* Cambia el color del logo si es necesario */
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3E%3Cpath stroke="%23ffffff" stroke-width="2" d="M5 7h20M5 15h20M5 23h20" /%3E%3C/svg%3E'); /* Cambia la imagen del ícono si es necesario */
    
}

.contenedor_carrito{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    align-content: center;
    height: 100%; 
}

.contenedor_novedades{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    align-content: center;
    height: 100%; 
}

main{
    margin-top: 60px;

}

.tarjetas {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Cambiado a flex-start para que las tarjetas se alineen en la parte superior */
    gap: 1rem; /* Espacio entre las tarjetas */
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en múltiples líneas si es necesario */
}

.tarjetas .card {
    max-width: 100%;
}

.container-compras{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    align-content: center;
    height: 100%;
}

.mapa-container {
    margin-top: 5px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
  }

  .footer {
    background-color: #343a40; /* Color del fondo del footer */
    color: #f8f9fa; /* Color del texto del footer */
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}


.container_comunidad {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}
.columna_comunidad {
    flex: 1;
    padding: 10px;
    
}

.login {
    margin-top: 10px;
    margin-left: 0%;
}

.img-login {
    height: 500px;
    object-fit: contain;
}






