// Variables
$primary-color: #333;
$secondary-color: #858585;
$text-color-light: #f8f9fa;
$text-color-dark: #333;
$background-color-footer: #343a40;
$padding-small: 10px;
$padding-medium: 20px;
$padding-large: 1rem;
$border-radius: 10px;
$transition-duration: 0.3s;